---
title: А510 - Проектирование и строительство частных домов и коттеджей
description: Архитектурное и инженерное проектирование, строительство частных загородных домов и коттеджей в Подмосковье и Новой Москве.
layout: index-page
permalink: /


---
<section class="container front">
	<header class="align-center">
		<h1>Строим так, что не сломаешь</h1>
	</header>
	<div class="row">
		<div class="6u 12u(medium)">
			<section>
				<header>
					<h3>Lorem, ipsum</h3>
				</header>
				<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum. Eget molestie congue eget auctor, vivamus metus enim tellus amet, quam commodo tellus ipsum.</p>
				<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum.</p>
			</section>
		</div>
		<div class="6u 12u(medium)">
			<section>
				<header>
					<h3>adipiscing</h3>
				</header>
				<ul>
					<li>Lorem, ipsum</li>
					<li>adipiscing</li>
					<li>malesuada odio integer</li>
				</ul>
				<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum.</p>
			</section>
		</div>
	</div>
</section>
<section class="container front">
	<header class="align-center">
		<h2>Готовые проекты</h2>
	</header>
	<div class="row">
		<div class="8u 12u(medium)">
			<section>
				<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum.</p>
			</section>
		</div>
		<div class="4u 12u(medium)">
			<section>
				<ul class="actions vertical small align-left arrow-alt">
					<li><a href="/proekty/doma-kottedji/">Дома и коттеджи</a></li>
					<li><a href="/proekty/taunhausy-dupleksy/">Таунхаусы - дуплексы</a></li>
					<li><a href="/proekty/kvadrohausy/">Квадрохаусы</a></li>
				</ul>
			</section>
		</div>
	</div>
	<div class="row uniform">
		{% assign sorted_cat = site.proekty | sort: 'weight' %}
		{% assign i = 0 %}
		{% for project in sorted_cat %}
			{% if project.type != "category" and project.featured %}
				{% assign i = i | plus: 1 %}
				{% if i > 6 %}
					{% break %}
				{% endif %}
				<div class="4u 6u(medium) 12u(xsmall)">
					<div class="box alt">
						<a href="{{project.url}}" class="image fit project">
							<img src="/images/{{project.url}}-1-small.jpg" alt="{{project.tiny-description}}" title="{{project.project-catalog-title}}">
							<div class="project-wrapper">
								<h3>{{project.project-catalog-title}} <span>{{project.project-name}}</span></h3>
								<p>{{project.tiny-description}}</p>
							</div>
						</a>
						<h4><a href="{{project.url}}">{{project.project-name}}</a></h4>
						{% if project.area %}
						<h4 class="area">{{project.area}}м<sup>2</sup></h4>
						{% endif %}
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<footer class="align-center">
		<ul class="actions">
			<li><a class="button" href="/proekty/">Смотреть все проекты</a></li>
		</ul>
	</footer>
</section>
<section class="container front">
	<header class="align-center">
		<h2>Строительство</h2>
	</header>
	<div class="row 200%">
		<div class="7u 12u(medium)">
			<a class="image main" href="/stroyka"><img src="/images/stroika2.jpg" alt="Строительство частных домов"></a>
		</div>
		<div class="5u 12u(medium)">
			<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum. Eget molestie congue eget auctor, vivamus metus enim tellus amet, quam commodo tellus ipsum.</p>
			<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum. Eget molestiam commodo tellus ipsum.</p>
			<ul class="actions">
				<li><a class="button alt" href="/stroyka">Далее</a></li>
			</ul>
		</div>
	</div>
</section>
<section class="container front">
	<header class="align-center">
		<h2>Архитектурное бюро А510</h2>
	</header>
	<div class="row 200%">
		<div class="7u 12u(medium)">
			<a class="image main" href="/architektura"><img src="/images/archi2.jpg" alt="Архитектурное проектирование"></a>
		</div>
		<div class="5u 12u(medium)">
			<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, quam, diam sagittis ipsum. Eget molestie congue eget auctor, vivamus metus enim tellus amet, quam commodo tellus ipsum.</p>
			<p>Lorem, ipsum adipiscing quam malesuada odio integer lectus pharetra non odio proin vitae commodo mauris. At, quam, vivamus diam amet nam sapien sagittis tempus malesuada, qullus amet, quam commodo tellus ipsum.</p>
			<ul class="actions">
				<li><a class="button alt" href="/architektura">Далее</a></li>
			</ul>
		</div>
	</div>
</section>