<section id="banner-wrapper">
	<div class="slick">
		<div>
			<div class="banner" style="background-image: url('images/banners/dupleksy.jpg')">
				<div class="inner">
					<h2>Таунхаус KS-666</h2>
					<p>Разумный подход к использованию земли</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Смотреть дуплексы</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/individualnie-doma.jpg')">
				<div class="inner">
					<h2>Тюрьма</h2>
					<p>Почувствуй себя как дома, братан</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Присесть</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/kottedjnie-poselki.jpg')">
				<div class="inner">
					<h2>Тюрьма</h2>
					<p>Почувствуй себя как дома, братан</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Присесть</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/individualnie-doma2.jpg')">
				<div class="inner">
					<h2>Тюрьма</h2>
					<p>Почувствуй себя как дома, братан</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Присесть</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/obshestvennie-zdaniya.jpg')">
				<div class="inner">
					<h2>Тюрьма</h2>
					<p>Почувствуй себя как дома, братан</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Присесть</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banners/obshestvennie-zdaniya2.jpg')">
				<div class="inner">
					<h2>Тюрьма</h2>
					<p>Почувствуй себя как дома, братан</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Присесть</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>