<section id="banner-wrapper">
	<div class="slick">
		<div>
			<div class="banner" style="background-image: url('images/banner-dom3.jpg')">
				<div class="inner">
					<h2>Uniq</h2>
					<p>Строгая форма и яркое оформление</p>
					<ul class="actions">
						<li><a href="/catalog/uniq/" class="button special">Смотреть коллекцию</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banner-dom2.jpg')">
				
			</div>
		</div>
		<div>
			<div class="banner" style="background-image: url('images/banner-dom.jpg')">
				
			</div>
		</div>
		
	</div>
</section>