<header id="header" {% if page.alt-header %} class="alt" {% endif %}>
	<ul>
		<li><a href="index.html" class="logo"><img src="/images/logo.svg"></a></li>
		<li class="menu-item"><a href="projects.html">Проекты</a></li>
		<li class="menu-item"><a href="dom.html">Стройка</a></li>
		<li class="menu-item"><a href="#">Архитектура</a></li>
		<li class="menu-item"><a href="/contact">Контакты</a></li>
		<li><a href="#" class="phone"><span>+7 (495) 123-45-67</span></a></li>
		<li><a href="#nav"></a></li>
	</ul>
</header>
