<!DOCTYPE HTML>

<html lang="ru">
	{% include head.html %}
	
	<body id="top">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}

		<!-- Nav -->
		{% include nav.html %}

		<!-- Banner -->
		{% include banner-generic.html %}
		
		<!-- Main -->
			<div id="not-main">
				<article>
					<section class="container">
						<header class="align-center">
							<h1>{{ page.page-title }}</h1>
						</header>
						{{ content }}
					</section>
				</article>
			</div>
		
		{% include cta.html %}
		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
		{% include scripts.html %}
		</div>
	</body>
</html>