<!DOCTYPE HTML>

<html>
	{% include head.html %}
	{% seo %}
	<body id="top">
		<div id="page-wrapper">
		<!-- Header -->
		{% include header.html %}

		<!-- Nav -->
		{% include nav.html %}

		<!-- Main -->
			<div id="not-main">
				<article class="container">
					<div class="banner-product">
						<div class="slider">
							<a href="#" class="image fit"><img src="/images/dom2.jpg"></a>
							<a href="#" class="image fit"><img src="/images/banner-dom3.jpg"></a>
							<a href="#" class="image fit"><img src="/images/banner-dom4.jpg"></a>
						</div>
					</div>
					<section>
						<header class="align-left">
							<h1>Проект дома DA191</h1>
						</header>
						
 						<div class="row">
							<div class="7u 12u(small)">
								<section>
									<p>{{ page.short-description }}</p>
									<h4><i class="fa fa-caret-right" aria-hidden="true"></i> Цена: {{ page.price }}</h4>
								</section>
							</div>
							<div class="3u -1u 5u(medium) 12u(small)">
								<section>
									<ul class="actions vertical">
										<li><a href="#" class="button fit">Заказать проект</a></li>
										<li><a href="#" class="button alt fit">Задать вопрос</a></li>
									</ul>
								</section>
							</div>
						</div>
						<div class="row uniform">
							<div class="7u 12u(small)">
								{% assign url_list = page.url | split: '/' %}
								{% assign project-name = url_list | last %}
								{% assign img_array = "" | split:"," %}
								{% for file in site.static_files %}
									{% if file.path contains page.url %}
										{% assign img_array = img_array | push: file.path %}
									{% endif %}
								{% endfor %}
								<h3>План этажа</h3>
								<a href="#" class="image plan"><img src="/images/proekty/dom1.png"></a>
								<h3>План этажа</h3>
								<a href="#" class="image plan"><img src="/images/proekty/dom2.png"></a>
							</div>
							<div class="5u 12u(small)">
								<h3>Технические параметры</h3>
								<div class="table-wrapper">
									<table class="">
										<tbody>
											{% for param in page.params %}
											<tr>
												<td>{{ param.name }}</td>
												<td>{{ param.value }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="10u -1u 12u(small)">
										<ul class="actions vertical small align-left arrow">
											<li><a href="#">Скачать альбом проекта</a></</li>
											<li><a href="#">Скачать презентацию</a></</li>
										</ul>
									</div>
								</div>
								<h3>Дополнительные опции</h3>
								<div class="table-wrapper">
									<table class="price">
										<tbody>
											{% for option in page.options %}
											<tr>
												<td>{{ option.name }}</td>
												<td>{{ option.value }}</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
								<div class="row">
									<div class="10u -1u 12u(small)">
										<section>
											<ul class="actions vertical">
												<li><a href="#" class="button fit">Заказать проект</a></li>
											</ul>
										</section>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="12u">
								<h3>О проекте</h3>
								{{ content }}
							</div>
						</div>
						
					</section>
					<section>
						<header>
							<h3 class="align-center">Другие проекты</h3>
						</header>
						<div class="row uniform">
							<div class="4u 6u(medium) 12u(xsmall)">
								<div class="box alt">
									<a href="#" class="image fit">
										<img src="/images/dom.jpg">
									</a>
									<h4><a href="#">Д-1-191</a></h4>
									<h4 class="area">191 м<sup>2</sup></h4>
								</div>
							</div>
							<div class="4u 6u(medium) 12u(xsmall)">
								<div class="box alt">
									<a href="#" class="image fit">
										<img src="/images/dom.jpg">
									</a>
									<h4><a href="#">Д-1-191</a></h4>
									<h4 class="area">191 м<sup>2</sup></h4>
								</div>
							</div>
							<div class="4u 6u(medium) 12u(xsmall)">
								<div class="box alt">
									<a href="#" class="image fit">
										<img src="/images/dom.jpg">
									</a>
									<h4><a href="#">Д-1-191</a></h4>
									<h4 class="area">191 м<sup>2</sup></h4>
								</div>
							</div>
						</div>
						<footer class="align-center">
							<ul class="actions">
								<li><a class="button alt" href="#">Смотреть все проекты</a></li>
							</ul>
						</footer>
					</section>
					<section>
					</section>
				</article>
			</div>

		<!-- Footer -->
		{% include footer.html %}

		<!-- Scripts -->
		{% include scripts.html %}
		</div>
	</body>
</html>